.btnLogin

{
    -fx-background-color : #0078D7;

}

.btnLogin:hover{
    -fx-background-color : #31C1E9;

}

.btnTitleBar
{

    -fx-background-color :  transparent;


}

.btnTitleBar:hover{
    -fx-background-color : #E81123;

}

.btnMenu
{

    -fx-background-color :  #1A1A1A;


}

.btnMenu:hover{
    -fx-background-color : #7E354D;

}

.btnMenu:pressed{
    -fx-background-color : #34495e;

}

.buttonExit

{
    -fx-background-color : transparent;
}

.buttonExit:hover{
    -fx-background-color : #E81123;
}


.btnAdd {
    -fx-background-radius: 10em;  
    -fx-min-width: 48px;  
    -fx-min-height: 48px;  
    -fx-max-width: 48px;  
    -fx-max-height: 48px;
}

.edtContent{
    -fx-background-color: #fff, #fff;
}

.edtContent .content {
    -fx-background-color: #fff;
}

.edtContent:focused .content {
    -fx-background-color: #fff;
}